<div class="container w-50 mt-5">
  <h2 class="border-bottom d-flex justify-content-between">
    <span><%= @article.title %></span>
    <span><%= link_to ('<i class="fa-solid fa-pencil"></i>').html_safe, edit_article_path %>
    <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, article_path,
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></span>
  </h2>
  <p><%= @article.content %></p>
</div>
